
#header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 80px;
   background: #e3e6f3;
   box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
   z-index: 600;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
}
#header img{
  height: 60px;
  width:150px;
  border-radius: 5px;
}
#navbar li a:hover,
#navbar li a.active{
  color: #088178;
  transition: 0.25s ease;
}
#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#mobile{
  display: none;
  align-items: center;
}
#close{
  display: none;
}


/* media query */
@media (max-width:799px) {
    #navbar{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -300px;
      height: 100vh;
      width: 300px;
      background-color: #e3e6f3;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 90px 0 0 10px;
      transform: 0.3s;
     }
     #navbar li{
      margin-bottom: 25px;
     }
     #mobile{
      display: flex;
      align-items: center;
    }
    #mobile i{
      color: #1a1a1a ;
      font-size: 24px;
      padding-left: 20px;
    }
    #close{
      display: initial;
      position: absolute;
      top: 30px;
      left:30px;
      color: #222;
      font-size: 20px;
    }
    #lg-bag{
      display: none;
    }
    #navbar .active{
      right: 0;
    }
}

