
@media (max-width:477px) {
  #header{
    padding: 10px 30px;
 }
 #hero{
  padding: 0 20px;
  background-position: 55%;
 }
 #hero h2{
  font-size: 32px;
 }
 #hero h1{
  font-size: 38px;
 }
 #feature{
  padding: 20px 20px;
  justify-content: space-between;
 }
 .section-p1{
  padding: 20px;
 }
 #feature .fe-box{
  width: 155px;
  margin: 10px 15px;
 }
 #product1 .pro{
  width: 100%;
 }
 #banner{
  height: 40vh;
 }
 #sm-banner .banner-box{
  height: 40vh;
 }
 #sm-banner .box2{
  margin-top: 20px;
 }
 #banner3{
  padding: 0 20px;
 }
 #banner3 .banner-box{
  width: 100%;
 }
 #newsletter .form{
  width: 100%;
 }
 #newsletter{
  padding: 40px 20px ;
 }
 /* single products */
 #prodetails
 {
  display: flex;
  flex-direction: column;
 }
 #prodetails .spro-img{
  width: 100%;
  margin-right: 0;
 }
 #prodetails .spro-details{
  width: 100%;
 }
}