
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}
h1{
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2{
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4{
  font-size: 20px;
  color: #222;
}
h6{
  font-weight: 700;
  font-size: 12px;
}
p{
  font-size: 16px;
  color: #222;
  margin: 15px 0 20px 0;
}
.section-p1{
  padding: 40px 80px;
}
.section-m1{
  margin: 40px 0;
}
body{
  width: 100%;
  /* background-color: #e3e6f3; */
}
button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.new{
  font-size: 13px;
  font-weight: 600;
  padding: 13px 18px;
  color:white;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;
}

#prodetails{
  display: flex;
  margin-top:75px;
}
#prodetails .spro-img{
  width: 40%;
  margin-right: 50px;
}
.small-img-grp{
  display: flex;
  justify-content: space-between;
}
.small-img-row{
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails .spro-details{
  width: 50%;
  padding-top: 50px;
}
#prodetails .spro-details h4{
  padding: 40px 0 20px 0;
}
#prodetails .spro-details h2{
  font-size: 26px;
}
#prodetails .spro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#prodetails .spro-details input{
  width: 50px;
  height: 47px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .spro-details button{
  background-color: #088178;
  color: #fff;
}
#prodetails .spro-details input{
  outline: none;
}
#prodetails .spro-details span{
  line-height: 25px;
}